@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-padding-top: 56px; /* высота вашей шапки */
}

:root {
    /*overflow: hidden;*/
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light;
    color: rgba(255, 255, 255, 0.87);
    background-color: var(--tg-theme-bg-color);

    --quaternary-fill-background: rgba(122, 122, 122, 0.18);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);

    /* Telegram WebApp theme variables */
    --tg-color-scheme: light;
    --tg-theme-bg-color: #ffffff;
    --tg-theme-text-color: #000000;
    --tg-theme-hint-color: #707579;
    --tg-theme-link-color: #3390ec;
    --tg-theme-button-color: #3390ec;
    --tg-theme-button-text-color: #ffffff;
    --tg-theme-secondary-bg-color: #f4f4f5;
    --tg-theme-header-bg-color: #ffffff;
    --tg-theme-accent-text-color: #3390ec;
    --tg-theme-section-bg-color: #ffffff;
    --tg-theme-section-header-text-color: #707579;
    --tg-theme-subtitle-text-color: #707579;
    --tg-theme-destructive-text-color: #e53935;
    --tg-theme-section-separator-color: #EFEFF3;

    --tg-accent-green: #2ccb54;
    --tg-accent-blue: #0b7def;
    --tg-accent-red: #ff463a;
    --tg-accent-orange: #fa9b03;
    --tg-accent-violet: #af53d8;
}

.dark {
    /* Telegram WebApp theme variables */
    --tg-color-scheme: dark;
    --tg-theme-bg-color: #0f0f0f;
    --tg-theme-text-color: #ffffff;
    --tg-theme-hint-color: #aaaaaa;
    --tg-theme-link-color: #8774e1;
    --tg-theme-button-color: #8774e1;
    --tg-theme-button-text-color: #ffffff;
    --tg-theme-secondary-bg-color: #212121;
    --tg-theme-header-bg-color: #212121;
    --tg-theme-accent-text-color: #8774e1;
    --tg-theme-section-bg-color: #212121;
    --tg-theme-section-header-text-color: #aaaaaa;
    --tg-theme-subtitle-text-color: #aaaaaa;
    --tg-theme-destructive-text-color: #e53935;
    --tg-theme-section-separator-color: #000000;

    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    }
}

@layer utilities {
    .bg-tg-theme-bg-color {
        background-color: var(--tg-theme-bg-color);
    }

    .bg-tg-theme-secondary-bg-color {
        background-color: var(--tg-theme-secondary-bg-color);
    }

    .bg-tg-theme-section-bg-color {
        background-color: var(--tg-theme-section-bg-color);
    }

    .text-tg-theme-text-color {
        color: var(--tg-theme-text-color);
    }

    .text-tg-theme-hint-color {
        color: var(--tg-theme-hint-color);
    }

    .text-tg-theme-subtitle-text-color {
        color: var(--tg-theme-subtitle-text-color);
    }

    .text-tg-theme-link-color {
        color: var(--tg-theme-link-color);
    }

    .border-tg-theme-button-color {
        border-color: var(--tg-theme-button-color);
    }

    .bg-tg-theme-button-color {
        background-color: var(--tg-theme-button-color);
    }

    .bg-tg-theme-button-color-transparent {
        background-color: rgb(from var(--tg-theme-button-color) r g b / 20%);
    }

    .bg-tg-theme-destructive-color {
        background-color: var(--tg-theme-destructive-text-color);
    }

    .text-tg-theme-button-color {
        color: var(--tg-theme-button-color);
    }

    .text-tg-theme-button-text-color {
        color: var(--tg-theme-button-text-color);
    }

    .border-tg-theme-section-separator-color {
        border-color: var(--tg-theme-section-separator-color);
    }

    .text-theme-section-header-text-color {
        color: var(--tg-theme-section-header-text-color);
    }

    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none !important; /* Firefox */
    }

    .height-safe-area-inset-bottom {
        height: calc(48px + env(safe-area-inset-bottom));
    }

    .pb-safe-area-inset-bottom {
        padding-bottom: calc(48px + env(safe-area-inset-bottom));
    }

    .badge-primary {
        background-color: var(--tg-theme-accent-text-color);
        color: var(--tg-theme-button-text-color);
    }

    .separator-shadow-top {
        box-shadow: 0 -1px 0 var(--tg-theme-section-separator-color);
        box-shadow: 0 -.5px 0 var(--tg-theme-section-separator-color);
    }

    .separator-shadow-bottom {
        box-shadow: inset 0 -1px 0 var(--tg-theme-section-separator-color);
        box-shadow: inset 0 -.5px 0 var(--tg-theme-section-separator-color);
    }

    html body[data-scroll-locked] {
        position: initial !important;
    }

    .quaternary-fill-background {
        background-color: var(--quaternary-fill-background);
    }

    .tg-input-border {
        border: .5px solid var(--tg-theme-section-separator-color);
    }

    .root-bg-color {
        background-color: var(--tg-theme-secondary-bg-color);
    }

    .card-bg-color {
        background-color: var(--tg-theme-section-bg-color);
    }

    .card-bg-color-transparency {
        background-color: rgb(from var(--tg-theme-section-bg-color) r g b / 90%);
    }

    .dark {
        .root-bg-color {
            background-color: var(--tg-theme-bg-color);
        }

        .card-bg-color {
            background-color: var(--tg-theme-secondary-bg-color);
        }

        .card-bg-color-transparency {
            background-color: rgb(from var(--tg-theme-secondary-bg-color) r g b / 90%);
        }
    }
}
